*{
  font-family: 'Geist', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px;
}
.searchBar{
  position: fixed;
  top:2px;
  left:0;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid grey;
  border-radius: 12px;
  font-size: 17px;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}
.container{padding-top: 60px;}

.countryCard{
  border:1px solid grey;
  padding:5px;
  text-align:center;
  width:180px;
  height:180px;
  border-radius:12px;
}